{% extends "base.html" %}
{% block center %}
<div class="container mt-5">
    <h2>{{ chapa.nome }}</h2>
    <p><strong>Coordenador:</strong> {{ chapa.coordenador }}</p>
    <p>{{ chapa.descricao }}</p>
    <p><strong>Eleição:</strong> {{ chapa.eleicao.titulo }}</p>

    <div class="mt-4">
        <a href="{% url 'editar_chapa' chapa.id %}" class="btn-secondary">Editar</a>
        <a href="{% url 'deletar_chapa' chapa.id %}" class="btn-secondary">Excluir</a>
        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Voltar</a>
    </div>
</div>
{% endblock %}